template(name="user_settings")
  .container
    .col-sm-8.col-sm-offset-2
      form(class="form-bitstamp-api-keys", role="form")
        h2.form-signin-heading 
            span.glyphicon.glyphicon-asterisk
            | Bitstamp API Keys
        p User ID: #{bitstampUserId}
        p API Key: #{bitstampAPIKey}
        input.spacy(type="text", class="form-control formitem", id="bitstampUserId", placeholder="User ID", value="#{bitstampUserId}")
        input.spacy(type="text", class="form-control formitem", id="bitstampAPIKey", placeholder="API Key", value="#{bitstampAPIKey}")
        input.spacy(type="text", class="form-control formitem", id="bitstampSecret", placeholder="Secret", value="#{bitstampSecret}")
        button.spacy.action-event(class="btn btn-lg btn-primary btn-block" type="submit") Save